/**
 * CSS styles for CMS system. Not to be used for public.
 */

#content {
  background: #ffffff url("/static/grid.png") top left;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 600px;
  overflow: hidden;
  border: 1px dotted #c0c0c0;
  position: relative;
}

dl.config {
  display: none;
}

.block {
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
}

#header .header {
    font-weight: bold;
    text-align: right;
    color: #505050;
    padding-top: 14px;
}

.headersub {
    font-size: 9px;
    margin-bottom: 20px;
    text-align: right;
}

.title {
    margin-top: 20px;
    text-align: center;
}

#title {
    font-size: 130%;
    font-weight: bold;
}

.title-byline {
    color: #c0c0c0;
    font-size: 80%;
    margin-bottom: 10px
}

#footer {
    clear: both;
    background-color: #c0c0c0;
    width: 100%;
}

/* clear */
.clear {
  clear: both;
}

.center {
    text-align: center;
}

/* lightbox */
#lbpanel {
  position: fixed;
  display:none;
  background:#000000;  
  opacity:0.5;  
  filter:alpha(opacity=50);  
  position:absolute;  
  top:0px;  
  left:0px;  
  min-width:100%;  
  min-height:100%;  
  z-index:1000;
}

#lb {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  padding-top: 0px;
  font-weight: bold;
  width: 400px;
  border: 2px solid #c0c0c0;
  background-color: #ffffff;
  display: none;
  z-index: 1001;
}

#lbtools {
  width: 400px;
  cursor: pointer;
  height: 20px;
  background-color: #c0c0c0;
  margin-bottom: 20px;
  text-align: right;
  font-weight: bold;
}

.block {
  border: 1px dotted #c0c0c0;
}

#form_target {
  position: absolute;
  top: 100px;
  left: 200px;
  min-width: 400px;
  display: none;
  background-color: #f0f0f0;
  padding: 20px;
  border: 2px solid #cecece;
  z-index: 2000;
}

#mask {
  position: absolute;
  opacity: 0.7;
  background-color: #000000;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1999;
}

.selected {
    border: 1px solid #ff9090 !important;
}

/* toolbar & actions */
#toolbar {
    padding: 10px;
    height: 30px;
    margin-bottom: 20px;
}

#page-toolbar {
    background-color: #cecece;
    padding: 10px;
    height: 30px;
    width: 100%;
    margin: 0px;
}

.action {
    background-color: #ffffff;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    min-width: 60px;
    cursor: pointer;
    text-align: center;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
    -moz-box-shadow: 3px 3px 3px #505050;
    position: relative;
    border: 1px solid #f0f0f0;
}

.subaction {
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.action:hover, .subaction:hover {
    background-color: #d3d3d3;
}

.action a, .subaction a {
    display: block;
    background-color: transparent;
    text-decoration: none !important;
}

.action a:hover {
    text-decoration: none;
}

.globalactions {
    float: right;
    border-left: 2px solid #cecece;
    padding-left: 20px;
}


/* Sharing */
#sharingcontainer {
    margin-left: 50px;
    margin-top: 50px;
}

.sharing {
    border-collapse: collapse;    
    margin-bottom: 20px;
    width: 400px;
}

.sharing tr, .sharing td, .sharing th {
    border: 1px solid #cecece;
}

.sharing td {
    text-align: center;
}

.sharing thead {
    background-color: #f0f0f0;
}

.sharing tbody th {
    text-align: left;
    font-weight: normal;
}

/* menu shite */
.actionsubs {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
    -moz-box-shadow: 3px 3px 3px #505050;
    text-align: left;
    padding: 10px;
    padding-left: 20px;
}

#page-perspectives {
    padding-top: 20px;
}

.tabs {
  height: 30px;
  padding: 0px;
  z-index: 100;
  padding-left: 20px;
  background-color: #000000;
}

.tab {
  float: left;
  background-color: #a0a0a0;
  cursor: pointer;
  margin-right: 5px;
  height: 25px;
  padding-top: 5px;
}

.tab a {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    text-decoration: none !important;
}

.tab:hover {
    background-color: #ffffff;
}

.tab.selected a { 
    color: #000000 !important;
}

.tab.selected { 
    background-color: #d0d0d0;
    border-width: 0px !important;
}

h1 {
    background-color: #505050;
    -moz-border-radius: 5px 5px 5px;
    border-radius: 5px 5px 5px;
    font-size: 140%;
    text-align: center;
    margin: 0px;
    color: #ffffff;
    height: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    background-color: #c0c0c0;
    -moz-border-radius: 5px 5px 5px;
    border-radius: 5px 5px 5px;
    font-size: 120%;
    text-align: center;
    margin: 0px;
    color: #ffffff;
    height: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Listing stuff */

.lsaction {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 3px 3px 3px #505050;
    text-align: center;
    cursor: pointer;
}

.lsaction.minimal {
    position: relative;
}

.lsaction:hover {
    cursor: pointer;
}

.popup {
    display: none;
    padding: 20px;
    -moz-box-shadow: 3px 3px 3px #505050;
    background: #ffffff;
    z-index: 1001;
    position: absolute;
}

.listingcontent .ui-sortable .contenttype:hover {
  cursor: move;
}

.lscut {
    color: transparent;
    background: #ffffff url("/pycms_icons/Cut16.png") 2px 2px no-repeat;
}

.lsdelete {
    color: transparent;
    background: #ffffff url("/pycms_icons/Delete16.png") 2px 2px no-repeat;
}

.lsedit {
    color: transparent;
    background: #ffffff url("/pycms_icons/Edit16.png") 2px 2px no-repeat;
}

.lsedit a {
    color: transparent;
}

.rename {
    position: relative;
    width: 100%;
}

#actions_col {
    width: 100px;
}

input.rename_in {
    display: none;
    z-index: 1001;
    position: absolute;
    top: 0px;
    left: 0px;
}

#user_add_form {
    width: 600px;
    position: absolute;
    top: 100px;
    left: 200px;
    z-index: 1001;
    background-color: #ffffff;
    padding: 20px;
    -moz-border-radius: 10px;
    display: none;
}

.listing {
    border-collapse: collapse;    
    margin-bottom: 20px;
    margin-left: 50px;
}

.listing tr, .listing td, .listing th {
    border: 1px solid #cecece;
    padding-left: 20px;
    padding-right: 20px;
}

.listing td {
    text-align: left;
}

.listing thead th {
    background-color: #f0f0f0;
}

.listing tbody th {
    text-align: left;
    font-weight: normal;
}

/* dialogs */
.ui-dialog {
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    -moz-border-radius: 1ex;
    border-radius: 1ex;
    -moz-box-shadow: 3px 3px 3px #505050;
    padding: 10px;
}

.ui-widget-header {
    background-color: #cecece !important;
    border: 1px solid #c0c0c0;
}

.ui-icon-closethick {
    color: transparent;
    background: transparent url("/pycms_icons/Delete16.png") left top no-repeat !important;
}

#rm_confirm {
    display: none;
}

/* packing */
#pack_result {
    -moz-border-radius: 1ex;
    border-radius: 1ex;
    background-color: #fffcb5;
    font-weight: bold;
    color: #000000;
    text-align: center;
    width: 100%;
}

dl {
    margin-left: 20px;
    width: 80%;
    border: 1px solid #505050;
    border-radius: 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

dt {
    float: left;
    clear: left;
    font-weight: bold;
    width: 100px;
}
