.gw20e-form {
  padding-top: 30px;
}

.text, .control {
  padding: 5px 5px 10px 10px;
  margin: 0px;
  border: none;
}

.control {
  display: none;
  margin-bottom: 10px;
  background-color: #e7e7e7;
  margin-left: 50px;
  margin-right: 50px;
}

.control.relevant { 
  display: block;
}

.control.select input[type='checkbox'] {
   float: none;
}

.readonly {
  opacity: 0.5;
}

input[disabled] + label { 
  opacity: 0.5;
}

input[disabled] { 
  opacity: 0.5;
}

.control input,
.control textarea,
.control select {
  margin: 0px 10px;
}

.control label { 
  background-color: #e7e7e7;
  font-weight: bold;
  margin-bottom: 0px;
  padding-right: 15px;
}

.control label.after { 
  display: inline;
  padding: 0px;
  font-size: 1em;
  font-weight: normal;
  background-color: transparent;
  color: #000;
}

.control.required label.control-label {
  background-image: url('/static/required.gif');
  background-position: top right;
  background-repeat: no-repeat;
}

input[type='radio'] label { 
  font-weight: normal !important;
}

.control div.hint { 
  color: #252525;
  background-color: #e7e7e7;
  margin-bottom: 10px;
  font-size: 90%;
}

.control div.alert { 
  font-weight: bold;
  color: red;
  display: none;
}

.error .alert {
    display: block;
}

.control.error { 
  border: medium solid #CE3229;
}

.gw20e-form {
  background-color: transparent;
}

.gw20e-form > .alert { 
  border: medium solid #CE3229;
  color: #CE3229;
  display: none;
  padding: 20px;
}

#intro {
  margin: 10px;
}

fieldset {
  padding: 10px;
}

fieldset legend { 
  border: 0px solid lightgrey;
  font-weight: bold;
  padding: 10px;
}

/* Card layout
 */
.cards > ul > li { 
  display: inline;     
  border: 2px solid #cecece;
  margin-left: 10px;
  margin-bottom: -2px;
  padding: 10px;
  font-weight: bold;
}

.cards > ul > li.selected { 
  border-bottom: 2px solid white;
}

.cards > ul { 
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.cards .card {
  margin-top: 9px;
  display: none;
  border: 2px solid #cecece;
  text-align: left;
}

.cards .card > legend { 
  display: none;
}

.cards .card.selected { 
  display: block;
}

.card { 
  background-color: transparent;
}

/* Steps
 */
fieldset.steps > ul > li {
  float: left;
  border: 2px solid #C7E0FE;
  color: grey;
  margin-right: 30px;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}

fieldset.steps > ul > li.stepsnav {
  float: left;
  border: 0px;
  padding: 0px;
  width: 48px;
  height: 48px;
}

fieldset.steps > ul > li.done { 
  float: left;
  border: 3px solid blue;
  background-color: transparent;
  color: black;
}

fieldset.steps > ul > li.selected { 
  float: left;
  border: 2px solid blue;
  background-color: #C7E0FE;
  color: black;
}

fieldset.steps > ul { 
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
}

fieldset.steps .step {
  clear: both;
  display: none;
  height: 100%;
  text-align: left;
}

fieldset.steps .step legend { 
  display: none;
}

fieldset.steps .step.done { 
  display: block;
}

.stepsnav.previous { 
  background-image: url(++resource++Products.MyDailyNews.img/previous.png);
  background-position: center;
  background-repeat: no-repeat;
}

.stepsnav.save { 
  display: none;
}

.stepsnav.save input { 
  width: 100%;
  height: 100%;
  border: 0px;
  background-image: url(++resource++Products.MyDailyNews.img/save.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.stepsnav.previous.disabled { 
  background-image: url(++resource++Products.MyDailyNews.img/previous-disabled.png);
  background-position: center;
  background-repeat: no-repeat;
}

.stepsnav.next { 
  background-image: url(++resource++Products.MyDailyNews.img/next.png);
  background-position: center;
  background-repeat: no-repeat;
}

.stepsnav.next.disabled { 
  background-image: url(++resource++Products.MyDailyNews.img/next-disabled.png);
  background-position: center;
  background-repeat: no-repeat;
}


/* fieldset for flow
 */
fieldset.h > div {
  float: left;
  width: 35%;
}

#submission {
    border-width: 0px;
    background-color: #e7e7e7;
    margin-left: 50px;
    margin-right: 50px;
}
