.slot {
    padding: 10px;
}

.slot .controls {
    float: right;
}

.slot header {
    margin-bottom: 10px;
}

.slot .block {
    width: 80%;
    border: 1px solid #c0c0c0;
    background-color: #f0f0f0;
    padding-left: 40px;
    padding: 5px;
    border-radius: 3px;
}