/* actions */
.rename {
    position: relative;
    width: 100%;
}

input.rename_in {
    display: none;
    z-index: 1001;
    position: absolute;
    top: 0px;
    left: 0px;
}

.contenttype {
    cursor: move;
}

.actions_col {
    opacity: 0.3;
    min-width: 100px;
}

.contentlisting tr:hover .actions_col {
    opacity: 1.0;
}

#about {
    position: absolute;
    width: 400px;
    top: 50px;
    right: 30%;
}

#alert {
    position: fixed;
    width: 400px;
    top: 100px;
    left: 30%;
    z-index: 1001;
}

.login {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
    margin-top: 100px;
    border: 1px solid #c5c5c5;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

